<div class="card card-body p-4 rounded-0 bg-dark text-white">
<h4>ASIGNATURA</h4>
<form action="/asignaturas/agregar" method="POST">
    <div>
        <label for="nombre">Escribe el nombre: </label>
        <input type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-control bg-dark text-white"/>
    </div>
   <div>
        <label for="creditos">creditos: </label>
        <input type="text" name="creditos" placeholder="Creditos" id="creditos" class="form-control bg-dark text-white"/>
    </div>
     <div>
        <label for="horas">Horas: </label>
        <input type="text" name="horas" placeholder="Horas" id="horas" class="form-control bg-dark text-white"/>
    </div>
    <button class="btn btn-outline-success">Agregar</button>

</form>
</div>