<div class="card card-body p-4 rounded-0 bg-dark text-white">
<h4>PROFESORES</h4>
<form action="/profesores/agregar" method="POST">
    <div>
        <label for="RFC">Escribe el RFC: </label>
        <input type="text" name="RFC" placeholder="RFC" id="RFC" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="nombre">Escribe el nombre: </label>
        <input type="text" name="nombre" placeholder="nombre" id="nombre" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="paterno">Escribe apellido paterno: </label>
        <input type="text" name="paterno" placeholder="paterno" id="paterno" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="materno">Escribe apellido materno: </label>
        <input type="text" name="materno" placeholder="materno" id="materno" class="form-control bg-dark text-white"/>
    </div>
     <div>
        <label for="fechaNacimiento">Fecha de Nacimiento: </label>
        <input type="date" name="fechaNacimiento" placeholder="Fecha Nacimiento" id="fechaNacimiento" class="form-control bg-dark text-white"/>
    </div>
     <div>
        <label for="direccion">Direccion</label>
        <textarea name="direccion" cols="20" rows="2" placeholder="Direccion" class="form-control bg-dark text-white"></textarea>
    </div>
    <div>
        <label for="celular">Celular: </label>
        <input type="text" name="celular" placeholder="Celular" id="celular" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="profesion">Escribe la profesion: </label>
        <input type="text" name="profesion" placeholder="profesion" id="profesion" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="numeroEmpleado">Escribe el numero de Empleado: </label>
        <input type="text" name="numeroEmpleado" placeholder="numeroEmpleado" id="numeroEmpleado" class="form-control bg-dark text-white"/>
    </div>
    <button class="btn btn-outline-success">Agregar</button>

</form>
</div>