<nav class="navbar navbar-dark bg-black mb-4">
    <div class="container">
        <a href="#" class="navbar-brand">UAEMex</a>
        <a href="/alumnos/agregar" class="text-light bg-dark">Alumno</a>
        <a href="/asignaturas/agregar" class="text-light bg-dark">Asignatura</a>
        <a href="/profesores/agregar" class="text-light bg-dark">Profesor</a>
        <a href="/carreras/agregar" class="text-light bg-dark">Carreras</a>
        <a href="/" class="text-light bg-dark">Cerrar sesión</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card card-body bg-dark p-4 text-white">
                <h4>ASIGNATURAS</h4>
<form action="/update/asignaturas/{{asignaturas._id}}" method="POST">
<div>
    <label for="nombre">Modifica nombre:</label>
    <input type="text" name="nombre" placeholder="Nombre" 
    value="{{asignaturas.nombre}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="creditos">Modifica creditos:</label>
    <input type="text" name="creditos" placeholder="Creditos" 
    value="{{asignaturas.creditos}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="horas">Modifica horas:</label>
    <input type="text" name="horas" placeholder="Horas" 
    value="{{asignaturas.horas}}" class="form-control bg-dark text-white">
</div>
<button class="btn btn-info">Actualizar</button>
</form>
            </div>
        </div>
    </div>
</div>