<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" >
  <div class="col-md-6 ">
    <div class="card text-center">
        <div class="card-header">
        <img style="width: 25%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Logo_de_la_UAEMex.svg/2209px-Logo_de_la_UAEMex.svg.png" alt="logo">
          <h3 style="color: #CCA701;">Bienvenid@ <br /> Elige una opción </h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">

          <div class="w-50 my-3">
            <a href="/singup" style=" font-weight: 600;" class="btn btn-primary btn-block">
              Registrate
            </a>
          </div>

          <div class="w-50">
            <a href="/singin" style=" font-weight: 600;" class="btn btn-primary btn-block">
              Inicia sesión
            </a>
          </div>

        </div>
      </div>
  </div>
</div>
