<div class="card card-body p-4 rounded-0 bg-dark text-white">
<h4>Agregar Carrera</h4>
<form action="/carreras/agregar" method="POST">
    <div>
        <label for="matricula">Matricula: </label>
        <input type="text" name="matricula" placeholder="Matricula" id="matricula" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="siglas">Siglas: </label>
        <input type="text" name="siglas" placeholder="Siglas" id="siglas" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="area">Area: </label>
        <input type="text" name="area" placeholder="Area" id="area" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="area">Modalidad: </label>
        <input type="text" name="modalidad" placeholder="Modalidad" id="modalidad" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="area">Periodo: </label>
        <input type="text" name="periodo" placeholder="Periodo" id="periodo" class="form-control bg-dark text-white"/>
    </div>
    <button class="btn btn-outline-success" >Agregar</button>

</form>
</div>